.toy-filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .filter-input {
        display: block;
        border-radius: 8px;
        height: 30px;
    }

    // @include for-narrow-layout {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    // }

    // @include for-normal-layout {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    // }

    // @include for-wide-layout {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    // }

}