.charts-container {

    .doughnut-container {
        width: 200px;
        height: 200px;
        margin: auto;
        margin-top: 30px;
    }

    .chart-title {
        width: 50%;
        margin: auto;
        text-align: center;
        margin-top: 30px;
        border: 1px solid black;
        background-color: $clr1;

        &:hover {
            background-color: #57917625;
        }

        &:active {
            background-color: #00ff8825;
        }

    }

    a {
        background-color: wheat;
        text-decoration: none;
        justify-content: space-between;
        color: black;
    }


    @include for-really-small-mobile-layout {
        .doughnut-container {
            width: 250px;
            height: 250px;
        }
    }

    @include for-small-mobile-layout {
        .doughnut-container {
            width: 300px;
            height: 300px;
        }
    }

    @include for-normal-mobile-layout {
        .doughnut-container {
            width: 450px;
            height: 450px;
        }
    }

    @include for-narrow-layout {
        .doughnut-container {
            width: 550px;
            height: 550px;
        }
    }
}