/* Media queries Breakpoint mixins */

@mixin for-really-extra-small-mobile-layout {
    @media (max-width: $break-smth-small) {
        @content;
    }
}

@mixin for-really-small-mobile-layout {
    @media (min-width: $break-smth-small) {
        @content;
    }
}

@mixin for-small-mobile-layout {
    @media (min-width: $break-small-narrow) {
        @content;
    }
}

@mixin for-normal-mobile-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}

@mixin for-normal-wide-layout {
    @media (min-width: $break-normal-wide) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

@mixin layoutGTC($max) {
    grid-template-columns:
        minmax($layoutPadding, 1fr) minmax(auto, $max) minmax($layoutPadding, 1fr);
}