//* COLOR PALETTE

$clr1: #5b8894;
// $clr1: #54c490;
$clr2: #A5C9CA;
// $clr2: #aebdc0;
$clr3: #f5f5f5;
$clr4: #A5C9CA;

//* LAYOUT
$layoutPadding: 20px;

//* LAYOUT BREAKPOINTS
$break-really-extra-small: 180px;
// $break-extra-small: 230px;
$break-smth-small: 300px;
$break-small: 370px;
$break-small-narrow: 450px;
// $break-medium-narrow: 500px;
$break-narrow: 630px;
$break-normal: 900px;
$break-normal-wide: 1150px;
$break-wide: 1400px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;