.toy-preview {
    display: flex;
    flex-direction: column;
    background-color: #e91e630a;
    text-align: center;
    box-shadow: 1px 0px 20px 0px rgb(0 0 0 / 50%);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 37%;
    background-position: 50% calc(100% - 50px);
}

.toys-container .toy-img {
    width: 150px;
    height: 150px;
}

.toys-container .delete-btn {
    margin: auto;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--clr1);
}

.toys-container .delete-btn:hover {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.141);
}

.toys-container .toy-price {
    margin: 0;
}

.toys-container .edit-btn {
    text-decoration: none;
    margin-top: 5px;
    font-weight: bold;
}

.toys-container .edit-btn:hover {
    text-decoration: underline;
    font-weight: bold;
    /* background-color: rgba(171, 156, 156, 0.359); */
    background-color: rgba(0, 0, 0, 0.141);
}